<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/css/agendar.css">
  <link rel="shortcut icon" type="image/jpg" href="/img/logo.png">
  <title>SP Medical Group</title>
</head>

<body>

  <header>

    <div>
      <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/fundo2.png?raw=true" type="img" class="fundo">
    </div>

    <div>
      <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/logo.png?raw=true" type="img" class="logo" height="80" width="80">
    </div>

    <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/SP%20Medical%20Group%20(1).png?raw=true" class="titulo">

    <form class="ajuda">
      <input type="image" src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/ajuda.png?raw=true" class="ajuda">
    </form>

    <a href="/html/inicio.html"><img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/btn%20voltar%20(1).png?raw=true" class="voltar"></a>

    <script>
      function voltar() {
        window.location = "/html/inicio.html";
      }

    </script>

  </header>

  <main>
    <section>
      <div class="rectangle"></div>
      <div class="rectangle2"></div>
      <div class="rectangle3"></div>
      <div class="rectangle4"></div>
    </section>
  </main>
  
  <div class="input-container">
    <h2>Marcar consulta</h2>
    <form id="agendamento-form">
      <input type="text" id="texto1" name="texto1" placeholder="Medico(a)">
      <input type="text" id="texto2" name="texto2" placeholder="Data">
      <input type="text" id="texto3" name="texto3" placeholder="Senha">
      <div class="button-container">
        <button type="submit">Enviar</button>
      </div>
    </form>


    <div id="mensagem" style="display: none;"></div>
  </div>

  <script>
    document.getElementById('agendamento-form').addEventListener('submit', function (event) {
      event.preventDefault(); // Evita o envio padrão do formulário

      const medico = document.getElementById('texto1').value;
      const data = document.getElementById('texto2').value;
      const senha = document.getElementById('texto3').value;

      if (medico !== '' && data !== '' && senha !== '') {
        const dadosAgendamento = {
          medico: medico,
          data: data,
          senha: senha
        };

        fetch('/agendamentos', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(dadosAgendamento)
        })
          .then(response => response.json())
          .then(data => {
            document.getElementById('mensagem').style.display = 'block';
            document.getElementById('mensagem').textContent = data.message;
          })
          .catch(error => {
            console.error('Erro ao enviar o pedido de agendamento:', error);
          });
      } else {
        alert('Por favor, preencha todos os campos antes de enviar o pedido de agendamento.');
      }
    });
  </script>

<style>
* {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

body {
  background-image: url("img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: 1;
}

img[type="img"] {
  border-radius: 40px;
  position: absolute;
}

.logo {
  z-index: 4;
  position: absolute;
  left: 2%;
  top: 0.5%;
  border-radius: 50%;
}


.titulo {
  left: 10%;
  width: 20%;
  top: 5%;
  position: absolute;
  z-index: 3;
}


.rectangle {
  width: 80rem;
  height: 5.5rem;
  background: #8D9277;
  position: absolute;
  top: 10;
  z-index: 2;
}

.rectangle2 {
  width: 80rem;
  height: 0.13rem;
  background: #8D9277;
  left: 0%;
  top: 17%;
  position: absolute;
  z-index: 2;
}

.rectangle3 {
  width: 80rem;
  height: 0.3rem;
  background: #8D9277;
  left: 0%;
  top: 15.8%;
  position: absolute;
  z-index: 2;
}

.rectangle4 {
  width: 75rem;
  height: 25.6rem;
  background: #C6CAC9;
  z-index: 2;
  left: 3%;
  top: 23%;
  position: absolute;
  text-align: center;
  opacity: 0.4;
  border-radius: 10px;
}

.input-container {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

input[type="text"] {
  
  width: 100%;
  padding: 10px;
  border: 1px solid #8dac88;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
  margin: 5px 0;
  margin-top:1%;
}

button {
  background-color: #8D9277;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

.button-container {
  text-align: center;
  margin-top: 20px;
}

.ajuda {
  position: absolute;
  left: 93%;
  top: 3%;
  z-index: 3;
}

.voltar {
  position: absolute;
  width: 3.3%;
  left: 88%;
  top: 2.9%;
  z-index: 3;
}

img[type="img"] {
  border-radius: 40px;
  position: absolute;
}

body { overflow-y: hidden; }
body { overflow-x: hidden; }
</style>

</body>

</html>
