<!DOCTYPE html>
<html>


<head>
  <style>
*{padding: 0;
  margin: 0;
  font-family: Helvetica;}



body{
  background-color: #D9DDD7;
  z-index: 1;
}


img[type="img"]{
  border-radius: 40px;
  position: absolute;
}


.perfil {
  z-index: 4;
  position: absolute;
  left: 2%;
  top: 0.5%;
  border-radius: 50%;
}

.titulo {
  left: 10%;
  width: 20%;
  top: 5%;
  position: absolute;
  z-index: 3;
}

 .data{
  left: 23.5%;
  top: 32%;
  position: absolute;
  z-index: 6;
  color: #ffffff;
 }


 .profissional{
  left: 70%;
  top: 32%;
  position: absolute;
  z-index: 6;
  color: #ffffff;
 }

 .exemplo1{
  left: 9%;
  top: 42%;
  position: absolute;
  z-index: 6;
  color: #ffffff;
 }

 .exemplo2{
  left: 57%;
  top: 42%;
  position: absolute;
  z-index: 6;
  color: #ffffff;
 }

 .rectangle {
  width: 80rem;
  height: 5.5rem;
  background: #8D9277;
  position: absolute;
  top: 10;
  z-index: 2;
}

.rectangle2 {
  width: 80rem;
  height: 0.13rem;
  background: #8D9277;
  left: 0%;
  top: 17%;
  position: absolute;
  z-index: 2;
}

.rectangle3 {
  width: 80rem;
  height: 0.3rem;
  background: #8D9277;
  left: 0%;
  top: 15.8%;
  position: absolute;
  z-index: 2;
}

 .rectangle4{
  width: 75rem;
  height: 25.6rem;
  background: #C6CAC9;
  z-index: 2;
  left: 3%;
  top: 23%;
  position: absolute;
  text-align: center;
  opacity: 0.4;
  border-radius: 10px;
 }

 .rectangle5{
  width: 30rem;
  height: 20.6rem;
  background: #ACAEAD;
  z-index: 5;
  left: 7%;
  top: 30%;
  position: absolute;

 }

 .rectangle6{
  width: 30rem;
  height: 20.6rem;
  background: #ACAEAD;
  z-index: 5;
  left: 55%;
  top: 30%;
  position: absolute;
  text-align: center;
 }

 .rectangle7{
  width: 30rem;
  height: 0.2rem;
  background: #d1d1d1;
  left: 7%;
  top: 36.5%;
  position: absolute;
  z-index: 7;

 }

 .rectangle8{
  width: 30rem;
  height: 0.2rem;
  background: #d1d1d1;
  left: 55%;
  top: 36.5%;
  position: absolute;
  z-index: 7;
 }

 .fundo{
  position: absolute;
  z-index: 0;
  left: 10%;
  top: 10%;
  width: 50rem;
}

 footer{
  background-color: #3db36b;
  color: #fff;
  border-top: 3px solid #0f642f;
  padding: 80px;
}

.info {
  position: absolute;
  left: 93%;
  top: 3%;
  z-index: 3;
}

.volte {
  position: absolute;
  width: 3.3%;
  left: 88%;
  top: 2.9%;
  z-index: 3;
}

body { overflow-y: hidden; }
body { overflow-x: hidden; }
  </style>

  <link rel="stylesheet" type="text/css" href="/css/consultas.css">
  <link rel="shortcut icon" type="image/jpg" href="/img/perfil.png">
  <title>SP Medical Group</title>
</head>

<body>

  <header>

    <div>
      <img src="https://img.freepik.com/vetores-gratis/ilustracao-de-medico-icone_53876-6167.jpg" alt="" type="img"
        class="perfil" height="80" width="80">
    </div>

    <div>
      <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/logo.png?raw=true.png" type="img" class="perfil" height="80" width="80">
    </div>

    <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/SP%20Medical%20Group.png?raw=true" class="titulo">

    <form class="info">
      <input type="image" src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/ajuda.png?raw=true" class="info">
    </form>

    <a href="/html/inicio.html"><img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/btn%20voltar.png?raw=true" class="volte"></a>

        <h3 class="data">Data</h3>
        <h3 class="profissional">Profissional</h3>
        <h4 class="exemplo1">23/03/2024</h4>
        <h4 class="exemplo2">Dr. José Eduardo - Cardiologista</h4>

  </header>

  <main>
    <section>


      <div class="rectangle"></div>
      <div class="rectangle2"></div>
      <div class="rectangle3"></div>
      <div class="rectangle4"></div>
      <div class="rectangle5"></div>
      <div class="rectangle6"></div>
      <div class="rectangle7"></div>
      <div class="rectangle8"></div>

    </section>


  </main>

  <div>
    <img
      src="https://prodoctor.net/blog/wp-content/uploads/2020/03/como-melhorar-a-rela%C3%A7%C3%A3o-m%C3%A9dico-paciente.png-min-1280x720.jpg">
  </div>

</body>

</html>
