<!DOCTYPE html>
<html>
<style>
* {
    padding: 0;
    margin: 0;
    font-family: Helvetica;
  }
  
  
  #img[type="img"] {
    border-radius: 40px;
    position: absolute;
  }
  
  .logo {
    z-index: 4;
    position: absolute;
    left: 2%;
    top: 0.5%;
    border-radius: 50%;
  }
  
  
  .rectangle {
    width: 80rem;
    height: 5.5rem;
    background: #8D9277;
    position: absolute;
    top: 10;
    z-index: 2;
  }
  
  .rectangle2 {
    width: 80rem;
    height: 0.13rem;
    background: #8D9277;
    left: 0%;
    top: 17%;
    position: absolute;
    z-index: 2;
  }
  
  .rectangle3 {
    width: 80rem;
    height: 0.3rem;
    background: #8D9277;
    left: 0%;
    top: 15.8%;
    position: absolute;
    z-index: 2;
  }
  
  .rectangle4 {
    width: 80rem;
    height: 0.3rem;
    background: #8D9277;
    left: 0%;
    top: 25.65%;
    position: absolute;
    z-index: 2;
  }
  
  .rectangle5 {
    width: 80rem;
    height: 0.1rem;
    background: #8D9277;
    left: 0%;
    top: 25%;
    position: absolute;
    z-index: 2;
  }
  
  .rectangle6 {
    width: 77.4rem;
    height: 25rem;
    background: #d5d5d5;
    z-index: 5;
    left: 1%;
    top: 30%;
    position: absolute;
  }
  
  .rectangle7 {
    position: absolute;
    top: 195%;
  }
  
  .rectangle8 {
    position: absolute;
    top: 250%;
  }
  
  .rectangle9 {
    position: absolute;
    top: 270%;
    z-index: 0;
  }
  
  .consultas {
    position: absolute;
    z-index: 6;
    left: 13%;
    top: 77%;
  }
  
  .agendar {
    position: absolute;
    z-index: 6;
    left: 35%;
    top: 77%;
  }
  
  .planos {
    position: absolute;
    z-index: 6;
    left: 56%;
    top: 77%;
  }
  
  .perfil {
    position: absolute;
    z-index: 6;
    left: 80%;
    top: 77%;
  }
  
  
  .titulo {
    left: 10%;
    width: 20%;
    top: 5%;
    position: absolute;
    z-index: 3;
  }
  
  .titulo2 {
    position: absolute;
    left: 31%;
    top: 180%;
    z-index: 0;
  }
  
  .rectangleicons {
    position: absolute;
    top: 110%;
    left: 1.5%;
    z-index: 0;
  }
  
  .consultas {
    position: absolute;
    top: 118%;
    left: 7%;
    z-index: 1;
  }
  
  .agendar {
    position: absolute;
    top: 118%;
    left: 30.5%;
    z-index: 1;
  }
  
  .planos {
    position: absolute;
    top: 118%;
    left: 54%;
    z-index: 1;
  }
  
  .perfil {
    position: absolute;
    top: 118%;
    left: 77%;
    z-index: 1;
  }
  
  .icon1 {
    position: absolute;
    color: #d27d0e;
    left: 11.5%;
    top: 155%;
    font-size: larger;
    z-index: 1;
  }
  
  .icon2 {
    position: absolute;
    color: #d27d0e;
    left: 35.5%;
    top: 155%;
    font-size: larger;
    z-index: 0;
  }
  
  .icon3 {
    position: absolute;
    color: #d27d0e;
    left: 56.2%;
    top: 155%;
    font-size: larger;
    z-index: 0;
  }
  
  .icon4 {
    position: absolute;
    color: #d27d0e;
    left: 82%;
    top: 155%;
    font-size: larger;
    z-index: 0;
  }
  
  .qrcode {
    position: absolute;
    left: 80%;
    top: 275%;
    z-index: 1;
  }
  
  .ajuda {
    position: absolute;
    left: 93%;
    top: 3%;
    z-index: 3;
  }
  
  .logout {
    position: absolute;
    left: 88%;
    top: 3%;
    z-index: 3;
  }
  
  .text1 {
    position: absolute;
    color: #AFAFAF;
    top: 19.3%;
    left: 7%;
    font-size: 130%;
    z-index: 0;
  }
  
  .text2 {
    position: absolute;
    color: #AFAFAF;
    top: 19.3%;
    left: 33%;
    font-size: 130%;
    z-index: 0;
  }
  
  .text3 {
    position: absolute;
    color: #AFAFAF;
    top: 19.3%;
    left: 58%;
    font-size: 130%;
    z-index: 0;
  }
  
  .text4 {
    position: absolute;
    color: #AFAFAF;
    top: 19.3%;
    left: 80%;
    font-size: 130%;
    z-index: 0;
  }
  
  .text5 {
    position: absolute;
    left: 8%;
    top: 234%;
    z-index: 1;
  }
  
  .text6 {
    position: absolute;
    left: 45%;
    top: 239%;
    z-index: 1;
  }
  
  .text7 {
    position: absolute;
    left: 79%;
    top: 234%;
    z-index: 1;
  }
  
  .text8 {
    position: absolute;
    color: rgb(148, 146, 146);
    left: 5%;
    top: 283%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    z-index: 1;
  }
  
  .text9 {
    position: absolute;
    color: rgb(148, 146, 146);
    left: 5%;
    top: 293%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    z-index: 1;
  }
  
  .text10 {
    position: absolute;
    color: rgb(172, 172, 172);
    font-size: 87%;
    left: 5%;
    top: 286.5%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    z-index: 1;
  }
  
  .text11 {
    position: absolute;
    color: rgb(172, 172, 172);
    font-size: 87%;
    left: 5%;
    top: 296.5%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    z-index: 1;
  }
  
  .text12 {
    position: absolute;
    color: steelblue;
    background-image: linear-gradient(to bottom, rgb(255, 2, 2), rgb(255, 166, 0), rgb(255, 0, 72));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 56%;
    top: 278%;
    font-family: Didot, serif;
    font-size: 120%;
    z-index: 1;
  }
  
  .text13 {
    position: absolute;
    color: rgb(128, 126, 126);
    left: 54.7%;
    top: 291%;
    font-size: small;
    font-family: OCR A Std, monospace;
    z-index: 1;
  }
  
  .text14 {
    position: absolute;
    color: rgb(128, 126, 126);
    left: 54.6%;
    top: 294%;
    font-size: small;
    font-family: OCR A Std, monospace;
    z-index: 1;
  }
  
  .text15 {
    position: absolute;
    color: rgb(128, 126, 126);
    left: 55.4%;
    top: 297%;
    font-size: small;
    font-family: OCR A Std, monospace;
    z-index: 1;
  }
  
  .text16 {
    position: absolute;
    color: rgb(128, 126, 126);
    left: 56%;
    top: 300%;
    font-size: small;
    font-family: OCR A Std, monospace;
    z-index: 1;
  }
  
  .margem1 {
    position: absolute;
    color: #929191;
    left: 2.5%;
    top: 276%;
    z-index: 1;
  }
  
  .margem2   {
    position: absolute;
    color: #929191;
    left: 2.5%;
    top: 303%;
    z-index: 1;
  }
  
  .margem3 {
    position: absolute;
    color: #c0c0c0;
    left: 57.5%;
    top: 285%;
    z-index: 1;
  }
  
  .home {
    position: absolute;
    width: 30px;
    left: 97%;
    top: 305%;
    z-index: 0;
  }
  
  .ebook1 {
    position: absolute;
    left: 4%;
    top: 207%;
    z-index: 0;
  }
  
  .ebook2 {
    position: absolute;
    left: 33.5%;
    top: 204.5%;
    z-index: 0;
  }
  
  .ebook3 {
    position: absolute;
    left: 69%;
    top: 207%;
    z-index: 0;
  }
  
  body { overflow-x: hidden; }

</style>



<head>
    <link rel="stylesheet" type="text/css" href="inicio.css">
    <link rel="shortcut icon" type="image/jpg" href="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/logo.png?raw=true">
    <title>SP Medical Group</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>


<body>



    <header>

        <div>
            <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/logo.png?raw=true" type="img" class="logo" height="80" width="80">
        </div>

        <form>
            <input type="image" src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/ajuda.png?raw=true" class="ajuda" alt="Submit">
        </form>

        <form>
            <input type="image" src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/logout.png?raw=true" class="logout" alt="Submit">
        </form>

        <a class="text1" href="#">Sobre Nós</a>
        <a class="text2" href="#icons">Consultas</a>
        <a class="text3" href="#ebooks">E-books</a>
        <a class="text4" href="#rodape">Nossos Contatos</a>

    </header>

    <main>

        <section>
            <div class="rectangle"></div>
            <div class="rectangle2"></div>
            <div class="rectangle3"></div>
            <div class="rectangle4"></div>
            <div class="rectangle5"></div>
            <div class="rectangle6"></div>
            <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/rectangle.png?raw=true" class="rectangle7">
            <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/rectangle.png?raw=true" class="rectangle8">
            <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/Rodap%C3%A9.png?raw=true" class="rectangle9">
        </section>

    </main>

    <p></p>

    <div id="icons">

        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/ret%C3%A2ngulo%20%C3%ADcones.png?raw=true" class="rectangleicons">


        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/btn%20consultas.png?raw=true" class="consultas">
        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/btn%20agendar.png?raw=true" class="agendar">
        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/btn%20planos%20de%20saude.png?raw=true" class="planos">
        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/btn%20meu%20perfil.png?raw=true" class="perfil">

        <a href="/html/consultas.html" class="icon1">Consultas</a>
        <a href="/html/agendar.html" class="icon2">Agendar</a>
        <a href="" class="icon3">Planos de Saúde</a>
        <a href="" class="icon4">Meu Perfil</a>

    </div>


    <div class="ebooks" id="3">
        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/Nossos%20E-books.png?raw=true" class="titulo2">

        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/agendamento.png?raw=true" class="ebook1">
        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/arte%20terapia.png?raw=true" class="ebook2">
        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/nutri%C3%A7%C3%A3o.png?raw=true" class="ebook3";>

        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/Guia%20de%20Agendamento.png?raw=true" class="text5">
        
        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/Nutri%C3%A7%C3%A3o%20(1).png?raw=true" class="text7">
    </div>

    <div id="rodape">
        <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/QR_Code.png?raw=true" class="qrcode">

        <form>
            <input type="image" src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/home.png?raw=true" class="home" alt="Submit" href="#">
        </form>

        <p class="text8">Email:</p>
        <p class="text9">Telefone:</p>

        <a href="" class="text10">spmedicalgroup36@gmail.com</a>
        <a href="" class="text11">(19) 99***-****</a>

        <p class="text12">Siga-nos em nossas redes sociais!</p>
        <p class="text13">Acesse nosso instagram através do QR Code</p>
        <p class="text14">ao lado, ou pelo link abaixo, e fique por</p>
        <p class="text15">dentro das dicas de saúde, e lives com</p>
        <p class="text16">nossos grandes médicos de cada área!</p>

        <p class="margem1"> ╔═══━━━─── • ───━━━═══╗</p>
        <p class="margem2"> ╚═══━━━─── • ───━━━═══╝ </p>
        <p class="margem3"> ——————«•»—————— </p>
    </div>

    <h1 id="logado"></h1>

    <button onclick="sair()">Sair</button>

</body>
</html>
