<!DOCTYPE html>
<html lang="en">
    <style>
        *{
  margin: 0%;
  padding: 0%;
}

.logo{
  position: absolute;
  z-index: 2;
  left: 15%;
  top: 7%;
  border-radius: 50%;
}

.titulo{
  color: #3F4927;
  right: 20%;
  position: absolute;
  top: 23%;
  left: 9%;
  z-index: 2;
}

.rectangle {
  width: 30rem;
  height: 45.5rem;
  background: #8D9277;
  position: absolute;
  top: -18%;
  z-index: 1;
 }

 .rectangle2{
  width: 25rem;
  height: 25.6rem;
  background: #B8BF9A;
  position: absolute;
  top: 30%;
  left: 3%;
  z-index: 2;
 }

 .login{
  position: absolute;
  z-index: 3;
  color: #ffffff;
  left: 16%;
  font-size: 140%;
  top: 38%;
 }

 .fundo{
  position: absolute;
  z-index: 0;
  left: 25%;
  top: -13%;
  width: 50rem;
  z-index: 0;
}

.email{
  position: absolute;
  z-index: 3;
  left: 7%;
  top: 50%;
  color: #8D9277;
}

input[type="email"]{
  width: 300px;
  height: 30px;
  background-color: #D9DDD7;
  border-color: #D9DDD7;
}

.cpf{
  position: absolute;
  z-index: 3;
  left: 7%;
  top: 60%;
  color: #8D9277;
}

.senha{
  position: absolute;
  z-index: 3;
  left: 7%;
  margin-top: -20px;
  top: 70%;
  color: #8D9277;
}

input[type="number"]{
  width: 300px;
  height: 30px;
  background-color: #D9DDD7;
  border-color: #D9DDD7;
}

input[type="password"]{
  width: 300px;
  height: 30px;
  background-color: #D9DDD7;
  border-color: #D9DDD7;
}

button{
  position: absolute;
  z-index: 3;
  left: 16%;
  top: 83%;
      color: #FFFFFF;
  height: 30px;
  width: 65px;
  background-color: #B79D7C;
  border-radius: 5px;
  border-color: #B79D7C;
}


.opções1{
  position: absolute;
  z-index: 3;
  color: #3F4927;
  left: 180px;
  top: 77%;
  font-size: 80%;

}


.opções3{
  position: absolute;
  z-index: 3;
  color: #3F4927;
  left: 7%;
  top: 78%;
  font-size: 80%;
}

.opções3{
  position: absolute;
  z-index: 3;
  color: #3F4927;
  left: 7%;
  top: 77%;
  font-size: 80%;
}

.voltar {
  position: absolute;
  width: 3.3%;
  left: 0.5%;
  top: 8%;
  z-index: 3;
}

body { overflow-y: hidden; }
body { overflow-x: hidden; }

    </style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/login1.css">
    <link rel="shortcut icon" type="image/jpg" href="/img/logo.png">
    <title>SP Medical Group</title>

<body>

    <header>

        <div>
            <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/m%C3%A9dico%201.png?raw=true" style="margin-left: 100px;">
            <img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/logo.png?raw=true" type="img" class="logo" height="95" width="95">
        </div>

        <h1 class="titulo"> SP Medical Group </h1>
    </header>

    <div class="rectangle"></div>
    <div class="rectangle2"></div>

    <div class="login">
        <h3>Login</h3>

    </div>

    <div id="usuarios">

        <div class="email" id="email">
            <input type="email" placeholder="Email">
        </div>
        <div class="cpf" id="cpf">
            <input text="number" placeholder="CPF">
        </div>
        <div class="senha" id="senha">
            <input type="password" id="password" placeholder="Senha">
        </div>
        <div>
            <select id="cargo" class="cargo" placeholder="Cargo">
                <option value="medico">Médico</option>
                <option value="adm">Administrador</option>
            </select>
        </div>
        <div class="entrar">
            <button type="button" name="Entrar" id="entrar" onclick="entrar()">Entrar</button>
        </div>
        <div>
            <a href="/html/cadastro.html" class="opções1">Não estou cadastrado</a>
        </div>

        <a href="/html/userselect.html"><img src="https://github.com/GeovannaNascimento/Medical_Group2/blob/main/SP%20Medical%20Group/img/btn%20voltar%20(1).png?raw=true" class="voltar"></a>

        <script>

            function entrar() {
                window.location.href = "/html/inicio.html"
            }
            
        </script>

        </head>

</body>

</html>
       
